<html>
<head>
    <title>HomeFlavour Online Ordering</title>
    <meta charset="utf-8">
    <!-- All paths are relative to public folder-->
    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >
    <link rel="stylesheet" href="/lib/bootstrap4/bootstrap_addon.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/index.css">

</head>
<body class="bg-black">
{{>header}}
{{>sidebar}}

<section class="container-fluid t3-push" id="mainContainer">
    <div class="row">
        <div class="col-12" >



            <div id="space_below_header">
                <br><br><br><br><br>
            </div>



            <div id="Div_ContentDiv">
                <div id="SomeBlog Header">
                    <h2 class="text-center text-white">Gallery</h2>
                    <br><br>
                </div>

                <div class="row">

                    {{#each galleryArray}}

                        <div class='col-md-4'>
                            <div class='card-wrapper addon-link' data-href='/gallery/{{gallery_item_id}}'>
                                <img src='{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{gallery_item_image_name}}' class='img-fluid img-thumbnail '>
                            </div>
                        </div>

                    {{/each}}

                </div>

            </div>



            <div id="space_before_footer">
                <br><br><br>
            </div>


         </div>
    </div>
</section>


{{>footer}}
</body>

<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap_addon.js" ></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>

</html>