<div id="panel-cart">
    <div class="panel-cart-container">
        <div class="panel-cart-title">
            <h5 class="title">Your Cart</h5>
            <button class="close" data-toggle="panel-cart"><i class="ti ti-close"></i></button>
        </div>
        <div class="panel-cart-content">
            <table id="cartTable" class="table-cart">


                <tr>
                    <td class="title">
                        <span class="name"><a href="#productModal" data-toggle="modal">Extra Burger</a></span>
                        <span class="caption text-muted">Small (200g)</span>
                    </td>
                    <td class="price text-success"><span class="money-currency">0.00</span></td>
                    <td class="actions">
                        <a href="#productModal" data-toggle="modal" class="action-icon"><i class="ti ti-pencil"></i></a>
                        <a href="#" class="action-icon"><i class="ti ti-close"></i></a>
                    </td>
                </tr>

                <tr>
                    <td class="title">
                        <span class="name">Weekend 20% OFF</span>
                    </td>
                    <td class="price text-success">-<span class="money-currency">8.22</span></td>
                    <td class="actions"></td>
                </tr>

            </table>
            <div class="cart-summary">
                <div class="row">
                    <div class="col-7 text-right text-muted">Order total:</div>
                    <div class="col-5"><strong><span id="totalItemsPrice_BeforeExtraCharges" class="money-currency">price here</span></strong></div>
                </div>
                <div class="row">
                    <div class="col-7 text-right text-muted">GST:</div>
                    <div class="col-5">
                        <strong>
                        <span id="totalTax"  data-tax-percentage="18" class="money-currency"></span>
                        </strong>
                    </div>
                </div>
                <hr class="hr-sm">
                <div class="row text-lg">
                    <div class="col-7 text-right text-muted">Total:</div>
                    <div class="col-5"><strong><span id="totalItemsPrice_AfterExtraCharges" class="money-currency money-currency">{{totalPrice}}</span></strong></div>
                </div>
            </div>
        </div>
    </div>
    <a href="/checkout" class="panel-cart-action btn btn-secondary btn-block btn-lg"><span>Go to checkout</span></a>
</div>