<footer id="footer" class="bg-dark dark">

    <div>
        <a href="/"><img src="/img/logo-light.png" alt="" width="140" class="mt-5 mb-5"></a>
        <h4 class="text-white">Designed by Rafique Gagneja </h4>
        <h5 class="text-muted">&copy Gagneja  Inc. 2020</h5>
    </div>

    <div style="display: block" class="text-center">
        <a href="#" class="icon icon-social icon-circle icon-sm icon-facebook"><i class="fa fa-facebook"></i></a>
        <a href="#" class="icon icon-social icon-circle icon-sm icon-google"><i class="fa fa-google"></i></a>
        <a href="#" class="icon icon-social icon-circle icon-sm icon-twitter"><i class="fa fa-twitter"></i></a>
        <a href="#" class="icon icon-social icon-circle icon-sm icon-youtube"><i class="fa fa-youtube"></i></a>
        <a href="#" class="icon icon-social icon-circle icon-sm icon-instagram"><i class="fa fa-instagram"></i></a>
    </div>

</footer>
<!-- Footer / End -->