<footer>
    <div id="mainContent_Footer">

        <div style="height: 50px"></div>

        <div>
            <h4 class="text-white">Designed by Rafique Gagneja </h4>
            <h5>&copy Gagneja  Inc. 2014-2017</h5>
        </div>

        <div style="height: 30px"></div>


        <div style="display: block" class="text-center">
            <a href="https://www.facebook.com/BuffaloWildWings" >
                <img src='{{IMAGE_FRONTEND_LINK_PATH}}facebook.png' class="img-fluid" style="width: 30px">
            </a>
            <a href="https://twitter.com/BWWings" >
                <img src='{{IMAGE_FRONTEND_LINK_PATH}}twitter.png' class="img-fluid" style="width: 30px">
            </a>
            <a href="https://www.zomato.com/new-york-city/buffalo-wild-wings-gramercy" >
                <img src='{{IMAGE_FRONTEND_LINK_PATH}}zomato.png' class="img-fluid" style="width: 30px">
            </a>
        </div>



    </div>
</footer>