<header>


    <div id="header" class="navbar fixed-top navbar-toggleable-md" style="background-color: #222; height: 65px">

        <div>
            <button type="button" class="btn btn-success t3-btn is-close">&#9776; open</button>
        </div>


        <div class="navbar-space"></div>

        <a class="navbar-brand text-white" href='/ '>Buffalo Wild Wings </a>

        <div class="navbar-space"></div>


        <div class="nav-item addon-link" data-href="/cart">
            <div><i class="fa fa-shopping-cart fa-2x text-white"></i></div>
        </div>

        <div class="badge badge-pill badge-info"></div>




    </div>



</header>