<header>


    <div id="header" class="navbar fixed-top navbar-toggleable-md" style="background-color: #222; height: 65px">

        <div>
            <button type="button" class="btn btn-success t3-btn is-close">&#9776; open</button>
        </div>


        <div class="navbar-space"></div>

        <a class="navbar-brand text-white" href='/ '>Buffalo Wild Wings </a>

        <div class="navbar-space"></div>







    </div>



</header>