<div id="Dashboard_SideBar" class="t3-sidebar" >







    <div id="Dashboard_SideBar_Header" style="background-color: #222">



        <div id="space_below_header">
            <br><br>
        </div>



        <div id="Sidebar_Header_Image" style=" height: 96px;">
            <center><img src='{{IMAGE_FRONTEND_LINK_PATH}}restaurant_logo.png'  class="img-fluid" style="height: 100%;width: 70%" ></center>
        </div>


        <br>


        <div id="Sidebar_Header_Text">
            <center>
                <h6 style="color: palegoldenrod">
                    <span><i class="fa fa-user" aria-hidden="true"></i></span>
                    &nbsp; Rafique Gagneja</h6>
            </center>
        </div>



        <br><br>

        <div style="background-color: white; height: 1px; "></div>
        <br>


    </div>





    <div id ="Dashboard_Sidebar_MainContent"  style="background-color: #222; overflow-y: auto ; ">



        <ul class="t3-list">

            <li >
                <a href="/"><span><i class="fa fa-home" aria-hidden="true"></i></span>&nbsp;Home</a>
            </li>

            <li>
                <a class="" href='/user' >
                    <span><i class="fa fa-user"></i></span>&nbsp; Profile
                </a>
            </li>


            <li>
                <a class="" href='/menu' >
                    <span><i class="fa fa-book"></i></span>&nbsp; Menu
                </a>
            </li>



            <li>
                <a href='/about' >
                <span><i class="fa fa-phone"></i></span>&nbsp; About Us
                </a>
            </li>

            <li>
                <a href='/contact' >
                <span><i class="fa fa-info-circle"></i></span>&nbsp; Contact Info
                </a>
            </li>

            <li>
                <a href='/gallery' >
                <span><i class="fa fa-picture-o"></i></span>&nbsp; Gallery
                </a>
            </li>

            <li>
                <a href='/blogs' >
                <span><i class="fa fa-newspaper-o"></i></span>&nbsp; Blog
                </a>
            </li>




            <li>
                <a href="#" ><span><i class="fa fa-cog"></i></span>&nbsp; Settings</a>
            </li>


        </ul>



        <br><br><br><br>




    </div>


</div>
