{{#> template_base}}

    <!-- Page Title -->
    <div class="page-title bg-dark dark">
        <div class="bg-image bg-parallax"><img src="{{publicDirectoryLocation}}/img/photos/aboutus_header.jpg" alt=""></div>

        <div class="container">
            <div class="row justify-content-center">
                <h1 class="mb-0">About Us</h1>
            </div>
        </div>
    </div>

    <!-- Section -->
    <section class="section section-bg-edge">

            <div class="image left bottom col-md-7">
                <div class="bg-image"><img src="{{publicDirectoryLocation}}/img/photos/bg-chef.jpg" alt=""></div>
            </div>

            <div class="container">
                <div class="col-lg-5 offset-lg-5 col-md-9 offset-md-3">
                    <div class="rate mb-5 rate-lg"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i></div>
                    <h2>The best food in Delhi!</h2>
                    {{{aboutData.about_us1}}}
                    <h6>Pawan Kumar, Chef</h6>
                    <img src="{{publicDirectoryLocation}}/img/svg/sign.svg" alt="" class="mb-5">

                </div>
            </div>

        </section>

{{/template_base}}
