{{#> template_base}}

    <!-- Page Title -->
    <div class="page-title bg-light ">
        <!--<div class="bg-image bg-parallax"><img src="/img/server-bad.jpg" alt=""></div>-->
        <div class="container">
            <div class="row justify-content-center">
                <h3 class="mb-0 font-weight-bold">&nbsp;Verify Your Email Address</h3>

            </div>
        </div>
    </div>


    <!-- Section -->
    <section class="section bg-white">
        <div class="container">
            <h5 class="text-lg-center font-weight-bold">
                Your email address is unverified. <br>
                We have sent you a confirmational email.<br>
                Please check your inbox for further instructions on how to confirm your address
            </h5>
        </div>
    </section>
{{/template_base}}


