{{#*inline "partial_head"}}
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/hybrid.min.css">

{{/inline}}

{{#> template_base}}

        <!-- Page Title -->
        <div class="page-title bg-light ">
            <!--<div class="bg-image bg-parallax"><img src="/img/server-bad.jpg" alt=""></div>-->
            <div class="container">
                <div class="row justify-content-center">
                    <h1 class="mb-0 font-weight-bold">&nbsp; Bad Server</h1>

                </div>
            </div>
        </div>


        <!-- Section -->
        <section class="section bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <!--<h2 class="font-weight-bold">Bad Server</h2>-->
                        <h4 class="text-lg-left font-weight-bold">
                            We're Sorry. Apprarently our servers were out partying all night and aren't feeling well
                            <br><br>
                            Do't worry Rafique has been notified and is on his way to get coffee.
                        </h4>
                        <div class="text-center">
                            <a href="{{backLink}}" class="btn btn-danger">Go Back</a>
                        </div>
                        <pre>
                <code class="json">
{{toJSON error}}
                </code>
            </pre>
                    </div>
                    <div class="col-6">
                        <img src="/img/error.jpg" class="img-fluid">
                    </div>
                </div>


            </div>
        </section>
{{/template_base}}


{{#*inline "partial_body"}}

<script src="http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
<script>
    hljs.initHighlightingOnLoad(); // initializing the highlight js library
</script>
{{/inline}}