{{#> template_base}}

    <!-- Page Title -->
    <div class="page-title border-top bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <h1 class="mb-0">Gallery</h1>
            </div>
        </div>
    </div>

    <!-- Section -->
    <section id="gallery" class="section section-gallery cover">

        <!-- Gallery Carousel -->
        <div class="gallery-carousel inner-controls">
            {{#each galleryData}}
                <div class="slide">
                    <div class="bg-image bg-parallax">
                        <img src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{gallery_item_image_name}}" alt="">
                    </div>
                </div>
            {{/each}}
        </div>

        <!-- Gallery Carousel Nav -->
        <div class="gallery-nav">
            {{#each galleryData}}
                <img src="{{@root.IMAGE_BACKENDFRONT_LINK_PATH}}{{gallery_item_image_name}}" alt="">
            {{/each}}
        </div>



        <div class="set-fullscreen">
            <a href="#gallery"><i class="ti ti-fullscreen"></i></a>
        </div>

    </section>

{{/template_base}}
