<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com">

    <!-- Title -->
    <title>Soup - Restaurant with Online Ordering System Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="/plugins/toastr/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css" />
    <link rel="stylesheet" href="/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="/css/themes/theme-beige.css" />
    <link id="theme" rel="stylesheet" href="/css/themes/my-personal.css" />
    <link id="theme" rel="stylesheet" href="/css/login.css" />


</head>

<body class="header-absolute">

<!-- Body Wrapper -->
<div id="body-wrapper" class="animsition">


    <div id="content ">
        <section class="section ">

            <div class="fullscreen-bg bg-dark dark">
                <video loop muted autoplay  class="bg-video-mine" style="opacity: 0.3">
                    <source src='/videos/home.mp4'  type="video/mp4">
                </video>
            </div>

            <br>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-8 offset-lg-4 offset-md-3 offset-sm-2">
                    <div class="card ">
                        <div class="card-block" style="margin: 40px">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <img src="/img/logo-horizontal-dark.png" class="img-fluid" alt="brand-logo">
                                </div>
                            </div>
                            <br>

                            <!--The class panel-signup is added because it basically makes the form look nice, form login.css-->
                            <div id="div_ResetPassword" class="panel-signup">
                                <form id="form-resetPassword">
                                    <div class="text-center text-lg ">
                                    <b>Reset Password</b><br>
                                        Please type your new password in the boxes below
                                    </div>
                                    <br>
                                    <div class="form-group wrap-input pwdMask">
                                        <input id="input-password" name="post_newPassword" class="form-control" type="password"  placeholder="Password" >
                                        <span class="focus-input"></span>
                                        <span class="fa fa-eye-slash pwd-toggle"></span>
                                    </div>
                                    <div class="form-group wrap-input pwdMask">
                                        <input id="input-password-again" name="post_newPasswordAgain" class="form-control" type="password" placeholder="Retype your password" >
                                        <span class="focus-input"></span>
                                    </div>
                                    <br>
                                    <button id="Btn_ResetPassword" class="btn btn-lg btn-primary btn-block btn-bg-dark" type="button" onclick="postChangePassword();"><span class="text-white">Save Password</span></button>
                                </form>
                            </div>


                            <div id="div_Response" style="display: none;" class="hide">
                                <div class="text-center text-lg ">
                                    <b>Success</b><br>
                                    Your password has been successfully reset. Please return to login page
                                    <a href="/login" class="myLink" >here</a>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
            <!--These br tags are added so that when we click on some other page, the scroll up animation works correctly -->
            <!-- Try Removing these br tags and then go from home page to about page and you will see -->
            <br><br><br><br><br><br><br><br>

        </section>
    </div>
    {{>cart}}

    {{>panel_mobile}}

    <!-- Body Overlay : used to darken the rest of layout when cart is opened -->
    <div id="body-overlay"></div>

</div>


<!-- JS Plugins -->
<script src="/plugins/jquery/dist/jquery.min.js"></script>
<script src="/plugins/tether/dist/js/tether.min.js"></script>
<script src="/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="/plugins/jquery.appear/jquery.appear.js"></script>
<script src="/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
<script src="/plugins/skrollr/dist/skrollr.min.js"></script>
<script src="/plugins/animsition/dist/js/animsition.min.js"></script>
<script src="/plugins/toastr/toastr.min.js" ></script>

<!-- JS Core -->
<script src="/js/core.js"></script>

<!-- Changes in javascript made by me-->
<script src="/js/myPersonal.js"></script>
<script src="/js/cart.js"></script>

<script>

    function setupPwdToggle(){
        $('.pwd-toggle').click(function(event){
            event.preventDefault() ;
            $(this).toggleClass('fa-eye-slash fa-eye') ;
            if($(this).hasClass("fa-eye")){
                $('.pwdMask > .form-control').attr("type","text")
            }else{
                $('.pwdMask > .form-control').attr("type","password")
            }
        }) ;
    }
    setupPwdToggle() ;


    function postChangePassword() {
        $('#form-resetPassword').validate({
            errorPlacement : (error, element)=>{
                //insert the label element after the parent div
                error.insertAfter(element.parent()) ;
            },
            highlight: function(element) {
                // function is invoked on any input element when error occurs for that particular input
                $(element).parent().children('span').addClass('error') ;
                $(element).parent().children('span').removeClass('success') ;

            },
            unhighlight: function(element) {
                // function is invoked for any input element when its error is removed,
                $(element).parent().children('span').removeClass('error') ;
            },
            success : (label, element)=>{
                $(element).parent().children('span').addClass("success") ;
            },
            rules : {
                post_newPassword : {
                    required : true,
                    minlength : 8
                },
                post_newPasswordAgain:{
                    required: true,
                    equalTo:'#input-password'
                }
            },
            messages : {
                post_newPassword : {
                    required : "Please type a password",
                    minlength: "Password must be atleast 8 letters"
                },
                post_newPasswordAgain:{
                    required:"Please retype your password",
                    equalTo: "Your two passwords do not match"
                }

            },
            submitHandler : ()=>{
                showSpinner($('#Btn_ResetPassword')) ;
                fetch('/resetPassword', {
                    method: 'POST',
                    body: new URLSearchParams({
                        post_newPassword: $('#input-password').val(),
                        post_newPasswordAgain: $('#input-password-again').val(),
                        post_resetToken: "{{resetToken}}",
                        _csrf: "{{_csrfToken}}",
                    })
                })
                .then((response) => response.json()) //response is just http status codes, this is needed to get data
                .then((data) => {
                    hideSpinner($('#Btn_ResetPassword')) ;
                    if (data.status == true) {
                        $('#div_ResetPassword').hide();
                        $('#div_Response').show()
                    } else {
                        console.log(data);
                        throw "Error in changing password";
                    }
                })
                .catch((err) => {
                    hideSpinner($('#Btn_ResetPassword')) ;
                    console.log(err);
                    makeToast('error', "Error in changing password, please try again later");
                });
            }

        }) ;

        $('#form-resetPassword').submit() ;




    }



</script>

</body>


</html>
