
/* ************************ Body ********************************* */

#mainContainer{
    background-color: #eeeeee;

}












#mainContent_Footer{
    background: #333 ;
    padding: 40px 0;
}

#mainContent_Footer  div{
    background-color: inherit;
    color: #ffffff;
    text-align: center;
    font-size: 16px ;
}