

/* **************** Header ******************** */

header{
    // background: -webkit-linear-gradient(45deg, #00E5FF, #1DE9B6, #00E676, #1DE9B6);
    // background: -webkit-linear-gradient(30deg, #92FE9D, #00C9FF);
    background: rgba(10,10,10,0.5);


}

#mainContentHeader_heading h1{
    color: #ffffff;
    text-align: center;
    padding: 40px 0;
    margin: 0px;


}

.mainContent_HeadingItem a p{
    padding-top: 20px  ;
    padding-bottom: 10px ;
    font-weight: 700;
    font-size: 16px;
}

#mainContentHeader_cartbutton {
    padding-top: 15px  ;

}

#mainContentHeader_logo{
    padding-top : 5px ;
    padding-bottom: 5px;
}









/***************************Footer *********************************-*/
#mainContent_Footer{
    background: #333 ;
    padding: 40px 0;
}

#mainContent_Footer  div{
    background-color: inherit;
    color: #ffffff;
    text-align: center;
    font-size: 16px ;
}