#mainContent_Section_DetailForm{
    background: #ffffff;
    padding: 10px;
}

#mainContent_Section_DetailForm table{
    margin-top: 40px;
}

#mainContent_Section_DetailForm table th, table td{
    padding: 10px ;
    text-align: center;
    vertical-align: middle;
}


#mainContent_Section_QuantityCard{
    background: #ffffff;
    padding: 10px;
}

