<html>
<head>
    <title>HomeFlavour Online Ordering</title>
    <meta charset="utf-8">
    <!-- All paths are relative to public folder-->
    <!--<link rel="stylesheet" href="/lib/reset/reset.css" >-->

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >
    <link rel="stylesheet" href="/lib/bootstrap4/bootstrap_addon.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/lib/t3/t3.css" />

    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
{{>header}}
{{>sidebar}}

<section class="container-fluid t3-push" id="mainContainer">
    <div class="row">
        <div class="col-12 bg-whitegrey" >



            <div id="space_below_header">
                <br><br><br><br><br>
            </div>



            <div class="col-md-12">

                <div class="card">
                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-6 text-center">
                            <img src='{{ABOUT_US_IMAGE}}' class="img-fluid" style="height: 320px">
                        </div>
                        <div class="col-3"></div>

                    </div>
                </div>
                <br><br>
                {{{ABOUT_US_CONTENT1}}}






            </div>





            <div id="space_before_footer">
                <br><br><br>
            </div>


        </div>
    </div>
</section>


{{>footer}}
</body>

<script type="text/javascript" src="/lib/jquery/jquery.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap.min.js" ></script>
<script type="text/javascript" src="/lib/bootstrap4/bootstrap_addon.js" ></script>
<script type="text/javascript" src="/lib/t3/t3.js"></script>

</html>