<html>
<head>
    <link rel="stylesheet" href="/lib/reset/reset.css" >

    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-grid.min.css" >
    <link rel = "stylesheet" href="/lib/bootstrap4/bootstrap-reboot.min.css" >
    <link rel="stylesheet" href="/lib/bootstrap4/bootstrap_addon.css" >

    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css" >

    <link rel="stylesheet" href="/css/video-page.css">


    <title>Vesu Online Ordering</title>




</head>


<body>




<div class="fullscreen-bg">
    <!--    poster="img/videoframe.jpg"-->
    <video loop muted autoplay  class="fullscreen-bg__video">
        <source src='{{@root.VIDEO_FRONTEND_LINK_PATH}}login_background.mp4'  type="video/mp4">
    </video>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">


            <br>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4" >
                    <img src='{{IMAGE_FRONTEND_LINK_PATH}}restaurant_logo.png'  class="img-fluid">
                </div>
                <div class="col-md-4"></div>
            </div>

            <br><br><br><br>



            <form id="mainForm" method="post" action="#" >

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label for="input-email" class="col-3 col-form-label text-white"><span><h3>Email</h3></span></label>
                            <div class="col-9">
                                <input name="__email" class="form-control" type="text" id="input-email" >
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="input-password" class="col-3 col-form-label text-white"><span><h3>Password</h3></span></label>
                            <div class="col-9">
                                <input name="__password" class="form-control" type="password" id="input-password" >
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <input  class="col-md-4 btn btn-info" type="submit" value="Sign In">
                            <div class="col-md-4"></div>

                        </div>





                    </div>
                    <div class="col-md-3"></div>
                </div>
            </form>






        </div>
    </div>
</div>





</body>

</html>