<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="google-signin-client_id" content="730014109642-7rldv9agg9qp0avagkapdv9l4kocjt5e.apps.googleusercontent.com">

    <!-- Title -->
    <title>Soup - Restaurant with Online Ordering System Template</title>

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <link rel="apple-touch-icon" href="/assets/img/favicon_60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/favicon_76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/favicon_120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/favicon_152x152.png">

    <!-- CSS Plugins -->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/plugins/slick-carousel/slick/slick.css" />
    <link rel="stylesheet" href="/assets/plugins/animate.css/animate.min.css" />
    <link rel="stylesheet" href="/assets/plugins/animsition/dist/css/animsition.min.css" />
    <link rel="stylesheet" href="/assets/plugins/toastr/toastr.min.css" />

    <!-- CSS Icons -->
    <link rel="stylesheet" href="/assets/css/themify-icons.css" />
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css" />

    <!-- CSS Theme -->
    <link id="theme" rel="stylesheet" href="/assets/css/themes/theme-beige.css" />
    <link id="theme" rel="stylesheet" href="/assets/css/themes/my-personal.css" />


</head>

<body class="header-absolute">

<!-- Body Wrapper -->
<div id="body-wrapper" class="animsition">


    <div id="content ">
        <section class="section ">

            <div class="fullscreen-bg bg-dark dark">
                <video loop muted autoplay  class="bg-video-mine" style="opacity: 0.3">
                    <source src='/assets/videos/home.mp4'  type="video/mp4">
                </video>
            </div>

            <div class="row">
                <div class="push-md-4 col-md-4">
                    <img src='/assets/img/logo-horizontal-light.png'  class="img-fluid">
                </div>
            </div>

            <br>
            <div class="row">
                <div class="col-4 push-4">
                    <div class="card ">
                        <div class="card-block">

                            <h3>Reset Password</h3>
                            <div id="div_SendEmail">
                                    <p>Please write yout email address in the box below</p>

                                    <input name="post_Email" class=" form-control" type="email" id="input-email" placeholder="Email" >
                                    <br>
                                    <div class="row">
                                        <button class="push-4 col-md-4 btn btn-primary" type="button" onclick="sendEmail()">Send Email</button>
                                    </div>
                            </div>
                            <div id="div_Response" style="display: none;" class="hide">
                                An email containing the instructions to reset your password has been sent to your email address
                                Please check your email inbox
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--These br tags are added so that when we click on some other page, the scroll up animation works correctly -->
            <!-- Try Removing these br tags and then go from home page to about page and you will see -->
            <br><br><br><br><br><br><br><br>

        </section>
    </div>
    {{>cart_new}}

    {{>panel_mobile}}

    <!-- Body Overlay : used to darken the rest of layout when cart is opened -->
    <div id="body-overlay"></div>

</div>


<!-- JS Plugins -->
<script src="/assets/plugins/jquery/dist/jquery.min.js"></script>
<script src="/assets/plugins/tether/dist/js/tether.min.js"></script>
<script src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/plugins/slick-carousel/slick/slick.min.js"></script>
<script src="/assets/plugins/jquery.appear/jquery.appear.js"></script>
<script src="/assets/plugins/jquery.scrollto/jquery.scrollTo.min.js"></script>
<script src="/assets/plugins/jquery.localscroll/jquery.localScroll.min.js"></script>
<script src="/assets/plugins/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="/assets/plugins/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.min.js"></script>
<script src="/assets/plugins/twitter-fetcher/js/twitterFetcher_min.js"></script>
<script src="/assets/plugins/skrollr/dist/skrollr.min.js"></script>
<script src="/assets/plugins/animsition/dist/js/animsition.min.js"></script>
<script src="/assets/plugins/toastr/toastr.min.js" ></script>

<!-- JS Core -->
<script src="/assets/js/core.js"></script>

<!-- Changes in javascript made by me-->
<script src="/assets/js/myPersonal.js"></script>
<script src="/assets/js/cart.js"></script>

<script>

    function sendEmail(){
      $.ajax({
        url : '/resetPassword',
        method : "POST",
        data : {
          "post_Email" : $('#input-email').val(),
          "_csrf" : "{{_csrfToken}}"
        },
        success : (result)=>{
            if(result.status ==true && result.success =="MAIL_SENT"){
                console.log(result) ;
                $('#div_Response').show() ;
                $('#div_SendEmail').hide() ;

            }else{
              showError(result, "Some kind of error in the mail sending") ;
              console.log(result) ;
            }
        },
        error : (err)=> {
            showError(err, "Error in making the post request") ;
          }
      }) ;
    }


</script>

</body>


</html>
